
body {background-color: #65439a;}

#main{
  margin: auto;
  position: absolute;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	display:inline-block;
	 vertical-align: middle;
	width:100%;
}

#header{
  margin:0 auto;
text-align: center;

	font-size:100px;
	color:black;
	 vertical-align: middle;
	width:60%;
}

/* vvv this is the div surrounding the image */
#ball{
  margin:0 auto;
	width:100;
text-align: center;
 vertical-align: middle;
 cursor:help;
}


#image{
	position:relative;
  margin:0 auto;
text-align: center;
display:inline-block;
	width: 100%;
	 vertical-align: middle;
}

/*
vvv this is the text in 8ball vvv */
#reactor{
  color:white;
	position:absolute;
	top: 82%;
	left: 84%;
	transform: translate(-50%, -50%);
	z-index: 90;
	font-size:2vw;


}

/* vvv this is the text under 8ball vvv*/
#reactor2{
	padding-left:29%;
	color:white;
	position:absolute;
	width:80%;
  	margin:0 auto;
	text-align: center;
	font-size:2.7vw;
	font-color:grey;
	margin-top:-70%;
	 vertical-align: middle;
	z-index:20;

  }

#input{
	position:absolute;
		width:80%;
  margin-left:10%;
	margin-top:4%;
	text-align: center;
	font-size:30;
	font-color:grey;



}

#theimage{
	width:100%;
	z-index:10;
	position: relative;
margin-top:-1%;
	pointer-events: none;
}
#video2{
	width:100%;
	z-index:10;
	position: absolute;
margin-top:-1%;
	margin-left:-50%;
	cursor:help;
}

#video{
	margin-left:-50%;
	width:100%;
	z-index:10;
	position: absolute;
	cursor:help;
margin-top:-1%;

}

#firstvid{
	display:block;
}

	.videos{
		pointer-events: none;
		position: relative;
		display:inline-block;

		z-index:5;
		width:100%;

		}
